body {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #dbdbdb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cv {
    background-color: white;
    padding-bottom: 5%;
}

.top {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 0%;
}

.top .left {
    flex: 1.5;
    margin-top: 5%;
}

.top .left .name {
    font-size: xx-large;
    color: #212BA4;
}

.top .left .designation {
    font-size: medium;
    color: #219BA4;
}

.top .left .info {
    font-size: small;
    padding-top: 1%;
}

.top .links {
    text-align: right;
    flex: 1;
    font-size: small;
    margin-top: 4%;
}


.top .links .elm {
    margin-top: 1%;
    margin-left: 0rem;
    
}

a{
    text-decoration: none;
    color: black;
}

.top .dp{
    flex: 1;
  }

.top .dp img {
    min-width: 150px;
    border-radius: 50%;
}

hr {
    border: 1px solid;
}

.details {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
}

h3 {
    color: rgb(1, 168, 90);
}

.dleft {
    flex: 1;
    margin-right: 5px;
}
.details .dleft .project .points {
    font-size: small;
    display: flex;
}


.cgpa {
    display: flex;
    font-size: small;
    color:teal;
    margin-top: 1%;
}

.dright {
    flex: 1;
    margin-left: 5px;
}

.golla {
    display: flex;
    font-size: xx-small; 
    color: rgb(0, 162, 255);
}

.skills {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 10px;
}

.interest {
    background-color: #174b52; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 10px;
}

.skillSet{
    display: flex;
    flex-wrap: wrap;
}

.interestSet{
    display: flex;
    flex-wrap: wrap;
}

.txt {
    font-size: small;
}

.lang {
    display: flex;
}

.lang .ban {
    flex: 1;
    flex-wrap: wrap;
}

.lang .eng {
    flex: 1;
    flex-wrap: wrap;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
}

@media all and (max-width: 1250px){
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media all and (max-width: 800px) {
    body{
        margin:0;
    }

    .top {
        flex-direction: column;
        /* width: 100%; */
        margin: 5%;
    }

    .top .dp {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 20%;
    }

    .top .dp img {
        justify-content: center;
    }

    .top .links{
        text-align: left;
    }

    .details {
        flex-direction: column;
    }
}
    